section.about
    .wrapper
        .page__title-h2 about us in the 
            span.page_color-green education
        .about-block
            .about-block__text
                .page__text Li Europan lingues es membres sam familie separat existentie es li un myth.Por scientie, musica, sport etc, litot Europa li vocabular.Li lingues differe solmen in li grammaticalpronunciation. Li Europan lingues es membres del sam familie.
                .page__text
                    ul.page__ul
                        li.page__ul-li Get support funding & resorces
                         li.page__ul-li International students
                        li.page__ul-li New classroom technology
                       
                        li.page__ul-li Career opporntnities

            .about-block__img
                img.page__img(src="assets/img/img-girl.png", alt="")