section#banner.banner
    .banner_opacity
    .wrapper
        .banner-block
            .page__text_undo The Best Education Theme
            h1.page__title-h1 Start Your 
                span.page_color-green Course Today & Save $15 
                | on First Registerations
            p.page__text Li lingues differe solmen in li grammatica,li pronunciation e li plu commun vocabules ,omnicos directe.
            button.page__btn.page__btn_open-modal Start a Course
            a.page__btn.page__btn_transparent(href="#tour") Take a tour
            form.page__form(action="")
                label.page__label(for="") Enter your Email and solve every my stery of the universe
                    input.page__input(type="email")
                button.page__btn.page__btn_white(type="submit") Start a course