header.header
    .wrapper
        .header-block
            a.header-block__logo(href="#banner")
                .header-block__logo-icon
                .header-block__logo-text Education
            .header-block__contacts
                a.page__link(href="tel:504-744-8345") 504-744-8345
                a.page__link(href="mailto:info@education.com") info@education.com