section#tour.info
    .wrapper
        .info-block
            h2.page__title-h2 trusted by over 
                span.page_color-green 7500+ students
            p.page__text join our community of students around the world helping you succeed.
            a.page__btn.page__btn_green(href="") Start a Course