section.modal.page_hidden
    .wrapper
        .modal__action
            button.page__btn.page__btn_close-modal X
        .modal__content
            h3.page__title-h3 The 
                span.page_color-green best Education 
                | Theme
            p.page__text The benefit of this approach is that you have a natural head start over experience working.
            form.page__form(action="")
                label.page__label(for="") First Name*
                    input.page__input(type="text")
                label.page__label(for="") Last Name*
                    input.page__input(type="text")
                label.page__label(for="") Email Address
                    input.page__input(type="text")
                label.page__label(for="") Phone number*
                    input.page__input(type="text")
                label.page__label(for="") Address
                    input.page__input(type="text")
                label.page__label(for="") Current Education Level*
                    input.page__input(type="text")
                label.page__label(for="") Course are you interested
                    input.page__input(type="text")
                    
            button.page__btn.page__btn_green Start a Course
