section.service
    .wrapper
        h2.page__title-h2 our service of 
            span.page_color-green education
        .service-block
            .service-block-item
                .service-block-item__icon_html
                .page__title-h3 HTML & CS5
                .page__text Li nov lingul franca esser plu simplic regular existent Europan lingues.
            .service-block-item
                .service-block-item__icon_js
                .page__title-h3 Javascript
                .page__text Li nov lingul franca esser plu simplic regular existent Europan lingues.
            .service-block-item
                .service-block-item__icon_design
                .page__title-h3 Design & UX
                .page__text Li nov lingul franca esser plu simplic regular existent Europan lingues.
