section.testimonial
    h2.page__title-h2 testimonial of 
        span.page_color-green education
    .wrapper
        .testimonial-block
            img.page__img(src="assets/img/img-agent-1.jpg")
            .page__text.page__text_semibold Bong Labat
            .page__text Art director
            .page__text.page__text_md-8.page__text_padding-top “ Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, es. ”